* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a0e35;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
}

/*navbar*/
.nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #0a054d;
  top: 0;
  position: fixed;
  width: 100%;
}

ul {
  padding: 20px;
}
/*list*/
li {
  float: right;
  /* display: flex; */
}
.nav-left {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.li-b {
  float: none;
}
li a:hover {
  background-color: #e7e7e7;
  border-radius: 25%;
}
.active {
  background-color: #636363;
  border-radius: 15%;
}

/*Style untuk handphone*/
@media screen and (min-width: 599px) {
  .col-xs {
    width: 100%;
  }
}
@media screen and (min-width: 390px) {
  .col-12pro {
    width: 100%;
  }
}
/*Style untuk tablet*/
@media screen and (min-width: 600px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
/*Style Dekstop*/
@media screen and (min-width: 768px) {
  /* /class selector/ */
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.float-left {
  float: left;
}
/*Parallax*/

/*img*/
.rounded-img {
  border-radius: 25%;
}
/*footer*/
.footer {
  padding: 1rem;
  margin: 0%;
}

/*text align,color,padding margin*/
.color-white {
  color: #ffffff;
}
.color-darkGreen {
  color: #425f57;
}
.color-Green {
  color: #88b179;
}
.color-Green1 {
  color: #a7ad52;
}
.txt-content {
  height: 20px;
  padding-top: 1rem;
  background-color: #ffffff;
  text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-center {
  text-align: center;
}
.txt-yellow {
  text-decoration: underline;
  color: #ffdd6c;
}
.txt-grey {
  color: rgb(71, 71, 71);
}
.txt-justify {
  text-align: justify;
}
.pt-8rem {
  padding-top: 10rem;
}
.pb-3rem {
  padding-bottom: 3rem;
}
.pb-5rem {
  padding-bottom: 5rem;
}
.pb-6rem {
  padding-bottom: 6rem;
}
.pt-2rem {
  padding-top: 2rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.pb-3rem {
  padding: 3rem !important;
}
.p-5 {
  padding: 50px;
}
.mt-5 {
  margin-top: 3rem;
}
.mt-5rem {
  margin-top: 5rem;
}
.pl-pr {
  padding-left: 5rem;
  padding-right: 5rem;
}
.pl-5rem {
  padding-left: 5rem;
}
.pr-5rem {
  padding-right: 5rem;
}

/*Table style*/
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: center;
  border-bottom: 1px solid #ddd;
}
td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
tr:hover {
  background-color: #ffdd6c;
}
.tr-b:hover {
  background-color: #a8e890;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  padding: 3px;
}
[class*="col-"] {
  float: left;
}
.img {
  width: 100%;
}
.btn {
}
.input {
  width: 100%;
  border-radius: 15%;
}
